<div class="jumbotron">
  <h1>Welcome!</h1>
  <h3>Connect with Twitter to have a random quote posted daily.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <p>Use Twitter Quote's easy to use platform to post quotes daily!</p>
      <ol>
        <li>Click "Signup".</li>
        <li>Select the options that best fit your need.</li>
        <li>Click submit!</li>
      </ol>
    </div>
    <div class="col-sm-6">
      <p>Try it out now! Cancel any time you want, simply un-subscribe.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Create quote form --TODO</p>
    </div>
  </div>

  <% if current_user %>
  <p class="">current user is <%= current_user.name %></p>
  <% end %>
</div>
