// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  text-align: center;
}

body{
  font-family: 'proxima_nova_altbold';
  background-color: #25ABE0;
}
 .unsub {
   margin-right: 20px;
 }
.p-pic {
  display: inline;
  margin: 0 5px;
}

.navbar {
  margin-bottom: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.intro1 {
  width: 100%;
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 800px;
  background-image: url('twitter-mobile-n4.jpg');
  background-repeat: no-repeat;
  background-position: 10% 70%;
  background-size: 60%;
  color: rgb(20, 23, 26);
}

.intro2 {
  width: 100%;
  margin-top: 70px;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 800px;
  div {
    font-size: 25px;
  }
  .box {
    height: 200px;
    color: #e6ffff;
  }
  .box2 {
    margin-top: 150px;
    margin-bottom: 20px;
  }
  li {
    color: #e6ffff;
  }
}
